{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/machine.css' %}">
{% endblock %}
{% block content %}
    <div class="card">
        <div id="page-title">Machines List</div>
    </div>
            <div class="card">
            <div>
                <span>Shown here is the machine list, along with a summary of relevant information.</span>
            </div>
            <div class="space-vertical"></div>
            <table id="machines__table" class="table-outline" border="1">
                <thead>
                    <th>Alias</th>
                    <th>System</th>
                    <th>Approved</th>
                    <th>Owner</th>
                    <th>Add date</th>
                    <th>Latest run</th>
                </thead>
                <tbody>
                        {% if machines %}
                            {% for machine in machines %}
                                <tr>
                                    <td><a href="{{ machine.next_url }} ">{{ machine.alias}}</a></td>
                                    <td>{{ machine.machine_type }}</td>
                                    <td>{{ machine.approved }}</td>
                                    <td>{{ machine.owner_id__username }}</td>
                                    <td>{{ machine.add_time }}</td>
                                    <td>
                                        {% if machine.latest %}
                                            {% for run in machine.latest %}
                                                {% if run.benchmark_id == 1 %}
                                                    <a href="/run/{{run.run_id}}/">{{run.run_id}}</a>
                                                {% elif run.benchmark_id == 2 %}
                                                    <a href="/tpch/details/{{run.run_id}}/">{{run.run_id}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
