{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/machine.css' %}">
{% endblock %}
{% block content %}
    <div class="card">
        <div id="page-title">Welcome back, <span id="value_name">{{ my_machines_list.0.owner_id__username }}</span>!</div>
        <div class="space-vertical"></div>
        <div>Email : <span id="value_email">{{ my_machines_list.0.owner_id__email }}</span></div>
        <div>Total reports : <span id="value_report_count">{{ run_count }}</span></div>
        <div>Number of machines : <span id="value_machine_count">{{ my_machines_list|length }}</span></div>
        {% if user.is_staff %}
            <div><a id="admin_panel_link" href="/admin/"><button>Admin Panel</button></a></div>
        {% endif %}
    </div>

    <div class="card">

        <div>
            <span>Here is a list of your machines.</span>
        </div>

        <div class="space-vertical"></div>

        <table id="profile__table" class="table-outline" border="1">

            <thead>
                <th>Alias</th>
                <th>Description</th>
                <th>Type</th>
                <th>Approved</th>
                <th>Runs</th>
                <th>Latest run</th>
                <th>Add date</th>
                <th>Secret</th>
            </thead>
            {% if my_machines_list %}
                {% for machine in my_machines_list %}
                    <tr>
                        <td>{{ machine.alias}}</a></td>
                        <td>{{machine.description}}</td>
                        <td>{{machine.machine_type}}</td>
                        <td>{{machine.approved}}</td>
                        <td>{{machine.count}}</td>
                        <td>
                            {% if machine.latest %}
                                {% for run in machine.latest %}
                                    {% if run.benchmark_id == 1 %}
                                        <a href="/run/{{run.run_id}}/">{{run.run_id}}</a>
                                    {% elif run.benchmark_id == 2 %}
                                        <a href="/tpch/details/{{run.run_id}}/">{{run.run_id}}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{machine.add_time}}</td>
                        <td class="machine_secret">{{machine.machine_secret}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tbody></tbody>

        </table>

    </div>

    <div class="card">

        <div class="title">Add machine</div>

        <div class="space-vertical"></div>

        <form method="post" action="{% url 'machines:addMachine' %}">
            {% csrf_token %}
            <input id="input__alias" name="alias" type="text" placeholder="alias">
            <input id="input__description" name="description" type="text" placeholder="description">
            <button type="submit">Add</button>
        </form>

    </div>

    <div class="card">

        <div class="title">Manage email notification</div>

        <div class="space-vertical"></div>
        <form method="post" action="{% url 'email_notification:update_email_notification' %}">
            {% csrf_token %}
            Notification for PgBench:
            <select id="noti_pgbench" name="noti_pgbench" style="margin-right: 50px;">
                <option value="on">On</option>
                <option value="off">OFF</option>
            </select>
            Threshold for performance drop:
            <input  id="threshold_pgbench" name="threshold_pgbench" type="number" min="1" max="99" value="{{noti_pgbench.threshold}}">%
            <br>
            Notification for TPC-H&nbsp;&nbsp;&nbsp;:
            <select id="noti_tpch" name="noti_tpch" style="margin-right: 50px;">
                <option value="on">On</option>
                <option value="off">OFF</option>
            </select>
            Threshold for performance drop:
            <input  id="threshold_tpch" name="threshold_tpch" type="number" min="1" max="99" value="{{noti_tpch.threshold}}">%
            <button type="submit" style="display: block">Update</button>
        </form>

    </div>

<script>
    (function() {
        let noti_pgbench_select = document.getElementById('noti_pgbench');
        let noti_tpch_select = document.getElementById('noti_tpch');
        {% if noti_pgbench.is_active %}
            noti_pgbench_select.value = 'on'
        {% else %}
            noti_pgbench_select.value = 'off'
        {% endif %}
        {% if noti_tpch.is_active %}
            noti_tpch_select.value = 'on'
        {% else %}
            noti_tpch_select.value = 'off'
        {% endif %}
    })();
</script>
{% endblock %}
