body {
  font-family = 'Open Sans', sans-serif;
}

/*
.main-navbar {
  margin-top: 80px !important;
}
*/

.v-btn-navbar {
  color: #336791 !important;
  font-size: 16px !important;
}

.v-btn-navbar:hover {
  border-bottom: 3px solid #336791 !important;
}

a {
  color: #336791 !important;
  text-decoration: none;
  border: none !important;
}

.pg-v-card {
  color: #336791 !important;
  margin: 2% 10% 2% 10%;
  padding: 1%;
}

.pg-v-card-bottom {
  color: #336791 !important;
  margin: 2% 10% 10% 10%;
  padding: 1%;
}

.pg-v-card-text-main {
  font-size: 25px;
  font-weight: bold;
}

.pg-v-card-text {
  font-size: 25px;
}

.pg-v-card-text-small {
  font-size: 20px;
}

.pg-v-card-text-footer {
  font-size: 20px;
  color: white;
}

.login-v-card {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
}

.login-v-card-upper {
  background-color: transparent !important;
  text-align: center;
  margin: 5% 5% 3% 5%;
}

.login-v-card-upper-toolbar {
  background-color: transparent;
}

.login-v-card-upper-toolbar-title {
  color: #336791;
}

.login-button {
  background-color: #336791 !important;
  font-size: 16px;
  color: white !important;
}

.profile-card {
  color: #336791 !important;
  margin-right: 2.5%;
}

.profile-card-title {
  background-color: transparent !important;
}

.profile-card-title-text {
  color: #336791 !important;
  font-size: 25px;
  font-weight: bold;
}

.profile-left-top {
  background-color: #336791 !important;
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  margin: 2% 5% 0% 5%;
}

.profile-button {
  color: #336791 !important;
  text-transform: none !important;
  font-size: 18px !important;
}

.profile-button__content {
  color: red !important;
  text-align: left !important;
}

.profile-left-bottom {
  color: #336791 !important;
  font-size: 18px;
  margin: 0% 5% 2% 5%;
}

.table-title {
  font-size: 20px;
}

.profile-td, .text-xs-center {
  font-size: 18px !important;
  text-align: center !important; 
}

.profile-th, thead, th {
  font-size: 18px !important;
  color: #336791 !important;
  background-color: #d3e1ed;
  font-weight: bold !important;
}

v-datatable__actions__select {
  font-size: 18px !important;
}

.status-layout {
  background-color: white !important;
  margin: 2% 10% -2% 10%;
  padding: 1%;
  color: #336791;
}

.panel-div {
  color: #336791;
  font-size: 20px;
  font-weight: bold;
}

.status-content {
  padding: 1%;
}

.machine-main-card {
  margin: 1%;
}

.machine-main-title {
  padding: 1%;
  color: #336791;
  font-size: 24px !important;
  font-weight: bold;

}

v-alert {
  color: #336791 !important;
}

.machine-main-text {
  color: #336791;
  font-size: 20px !important;

}

.machine-form {
  padding: 2%;
}

 .results, .results-h, .results-d {
  font-size: 18px !important;
  border: 1px solid #336791;
  border-collapse: collapse;
  color: #336791;
}

.results-d, .results-h {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}

.results {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.results-h {
  background-color: #d3e1ed;
  font-weight: bold;
}

.results-card-title {
   font-size: 20px !important;
   color: #336791;
}

.results-text {
   font-size: 17px !important;
   color: #336791;
   margin-bottom: -2%;
}

.results-container {
  margin-top: -3% !important;
}

pre {
  font-family: inherit !important;
  font-size: 17px !important;
  color: #336791 !important;
}

.v-tabs__wrapper {
  background-color: #336791 !important;
}

.v-tabs__item {
  color: white !important;
  font-size: 16px !important;

}

.v-tabs__item--active {
  font-weight: bold !important;
}

.tabs-div {
  margin: 2%;
}

.machine-card {
  background-color: #336791 !important;
}

.result-toolbar {
  background-color: #d3e1ed !important;
  color: #336791;
  font-size: 25px !important;
  font-weight: bold !important;
}

.results-title {
  color: #336791;
  font-size: 20px !important;
  margin-bottom: -5%;
}

@import '~vuetify/src/stylus/main'