body {
	font-family = 'Open Sans', sans-serif;
}

.v-btn-navbar {
	color: #336791 !important;
	font-size: 16px !important;
}

a {
	color: #336791 !important;
	text-decoration: none !important;
}

.pg-v-card {
	color: #336791 !important;
	margin: 2% !important;
	padding: 1% !important;
}

.pg-v-card-text-main {
	font-size: 25px !important;
	font-weight: bold !important;
}

.pg-v-card-text {
	font-size: 25px !important;
}

.pg-v-card-text-footer {
	font-size: 20px !important;
	color: white !important;
}

.login-v-card {
	background-color: white !important;
}

.login-v-card-upper {
	background-color: transparent !important;
	text-align: center !important;
}

.login-v-card-upper-toolbar {
	background-color: transparent !important;
}

.login-v-card-upper-toolbar-title {

}

@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/app'