body {
  font-family = 'Open Sans', sans-serif;
}

/*
.main-navbar {
  margin-top: 80px !important;
}
*/

.v-btn-navbar {
  color: #336791 !important;
  font-size: 16px !important;
}

.v-btn-navbar :hover {
  border-bottom: 2px solid #336791 !important;
}

a {
  color: #336791 !important;
  text-decoration: none;
}

.pg-v-card {
  color: #336791 !important;
  margin: 2% 10% 2% 10%;
  padding: 1%;
}

.pg-v-card-bottom {
  color: #336791 !important;
  margin: 2% 10% 10% 10%;
  padding: 1%;
}

.pg-v-card-text-main {
  font-size: 25px;
  font-weight: bold;
}

.pg-v-card-text {
  font-size: 25px;
}

.pg-v-card-text-small {
  font-size: 20px;
}

.pg-v-card-text-footer {
  font-size: 20px;
  color: white;
}

.login-v-card {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
}

.login-v-card-upper {
  background-color: transparent !important;
  text-align: center;
  margin: 5% 5% 3% 5%;
}

.login-v-card-upper-toolbar {
  background-color: transparent;
}

.login-v-card-upper-toolbar-title {
  color: #336791;
}

.login-button {
  background-color: #336791 !important;
  font-size: 16px;
  color: white !important;
}

@import '~vuetify/src/stylus/main'