.ReactTable .rt-th{
    background-color: #ffffff;
}

.ReactTable .-pagination{
    background-color: #ffffff;
}

.ReactTable .rt-tr-group:nth-child(2n) {
    background-color: #ffffff;
}

.bgc-clear{
    background-color: #ffffff;
}

.anonymous {
    color: #e8e8e8;
}

.anonymous :hover {
    color: lightgrey;
}
.improved {
    color: #7cb305;
}

.quo {
    color: #40a9ff;
}

.regressive {
    color: #fa541c;
}

.mini-label {
    font-weight: 100!important;
    font-size: 0.1em!important;
    min-width: 1.3em!important;
    min-height: 0.1em!important;
    padding: .2em!important;
    line-height: 0.5em!important;
}

.link-div{
    display: flex;
    flex-direction: column;
}