{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div class="card">
        <div id="page-title">Welcome to the Postgres Performance Farm!</div>
        <div class="space-vertical"></div>
        <div>The Postgres Performance Farm is a project aiming to collect of performance tests through source code updates, highlighting trends and changes.</div>
    </div>
    {% if result %}
    <div class="home__item">
        <span id="value_machines" class="text-color">{{ result.machines_count }}</span> machines belonging to <span id="value_users" class="text-color">{{result.users}}</span> users
        <br>
        of which <span id="value_last_month" class="text-color">{{ result.recent_runs }}</span> runs were reported in the last month
    </div>

    <div class="home__item">
        <span id="value_branches" class="text-color">{{ result.branches }}</span> reporting branches
        <br>
        from <span id="value_repos" class="text-color">{{ result.repos }}</span> different Postgres repositories
    </div>

    <div class="home__item">
        <span id="value_configs" class="text-color">{{ result.pgbench_configs }}</span> different PgBench configurations
        <br>
        <span id="value_tpch_configs" class="text-color">{{ result.tpch_configs }}</span> different TPC-H configurations
        <br>
        <span id="value_os" class="text-color">{{ result.os_count }}</span> different operating systems
    </div>

    <div class="home__item">
        <span id="value_runs" class="text-color" class="text-color">{{ result.runs }}</span> total runs
        <br>
        <span id="value_benchmarks" class="text-color" class="text-color">{{ result.pgbench_benchmark_id }}</span> total benchmarks
    </div>

    <div class="home__item">
        Last run: <a id="value_last_run" href="/run/{{result.last_run}}/">{{ result.last_run }}</a> on <span id="value_last_run_time" class="text-color">{{ result.last_run_time }}</span>
        <br>
        Reported by machine <a id="value_last_run_machine" href="/benchmark/history/{{result.last_machine_id}}/">{{ result.last_machine_alias }}</a>
    </div>

    <div class="home__item">
        Last run <a id="value_last_run_trends" href="/benchmark/pgbench_trends/{{result.last_machine_id}}/{{result.pgbench_benchmark_id}}/">trends</a>
        <br>
        Scale <span id="value_scale" class="text-color">{{ result.scale }}</span>, duration <span id="value_duration" class="text-color">{{ result.duration }}</span>, clients <span id="value_clients" class="text-color">{{ result.clients }}</span>,
        <span id="value_read_only" class="text-color">
            {% if result.read_only %}
                read-write test
            {% else %}
                read-only test
            {% endif %}
        </span>
    </div>
    {% else %}
        <div class="home__item">
             No benchmarks done yet.
        </div>
    {% endif %}

{% endblock %}
