#navigation {
    margin-bottom: 20px;
}

#navigation__title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    background-color: #336791;
    cursor: pointer;
    user-select: none;
}

#navigation__links {
    padding: 10px;
    background-color: #FAFAFA;

    display: flex;
    flex-direction: row;
}

.navigation__links__item {
    margin: 0 10px;
}

#navigation__links__login {
    margin-left: auto;
    margin-right: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  outline: none;
  color: black;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}