.panel-group {
    width: 860px;
}

.selected_item > li{
    float: left;
    margin-left: 10px;
    list-style-type:none;
    border: 1px solid slateblue;
}
/* select */
.select {
    padding: 5px 10px;
    /*border: #ddd 1px solid;*/
    border-radius: 4px;
    width: 100%;
    /*margin: 5% auto;*/
    font-size: 12px
}

.select li {
    list-style: none;
    padding: 10px 0 5px 100px
}

.select .select-list {
    border-bottom: #eee 1px dashed
}

.select dl {
    zoom: 1;
    position: relative;
    line-height: 24px;
}

.select dl:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden
}

.select dt {
    width: 100px;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    left: -100px;
    text-align: right;
    color: #666;
    height: 24px;
    line-height: 24px
}

.select dd {
    float: left;
    display: inline;
    margin: 0 0 5px 5px;
}

.select a {
    display: inline-block;
    white-space: nowrap;
    height: 24px;
    padding: 0 10px;
    text-decoration: none;
    color: #039;
    border-radius: 2px;
}

.select a:hover {
    color: #2643ff;
    background-color: #f3edc2
}

.select .selected a {
    color: #fff;
    /*background-color: #7354ff*/
    background-color: #5e8fff
}

.select-result dt {
    font-weight: bold
}

.select-no {
    color: #999
}

/*.select .select-result a{padding-right:20px;background:#f60 url("close.gif") right 9px no-repeat}*/
.select .select-result a:hover {
    background-position: right -15px
}

.title-selected-btn {
    float: right;
}

.title-selected-btn:focus, .title-selected-btn:active:focus, .title-selected-btn.active:focus, .title-selected-btn.focus, .title-selected-btn:active.focus, .title-selected-btn.active.focus {
    outline: none;
    /*border-color: transparent;*/
    /*box-shadow: none;*/
}