.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.top-navbar {
    margin: 0px;
}

.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.top-navbar .navbar-brand {
    color: #fff;
    width: 340px;
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    background: #32323a;
}

.navbar-brand b {
    color: rgb(2,141,193);

}


.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 15px;
    display:inline-block!important;
}
.top-navbar .nav > li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px 10px;
}

.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.top-navbar .nav > li:hover .dropdown-menu{
    display: block;
}
.top-navbar .dropdown-menu {
    min-width: 140px;
    top: 98%;
    border-radius: 0 0 4px 4px;
}

.top-navbar .nav > li > a, .top-navbar .nav > li > a > i {
    font-size: 15px;
    color: #0f0f0f !important;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus{
    text-decoration: none;
    color: #1890ff !important;
    background: transparent;
}


.top-navbar .nav > li:hover, .top-navbar .nav > li:focus {
    border-bottom: 2px solid #1890ff;
}

.top-navbar .nav > li:hover>a {
    color: #1890ff !important;
}

.top-navbar .nav > li:hover span {
    color: #1890ff !important;
}


.glyphicon-menu-down {
    font-size: 3px;
}

.sign-in {
    font-weight: 600 !important;
    padding-left: 10px;
}

.navbar-right {
    margin-right: 0px!important;
    line-height:61px;
}

.panel-title {
    display: flex;
}

.panel-title a {
    width: 70px;
}
.panel-title .title-selected-result{
    width: 100%;
}

.navbar-right .loggedin{
    margin-right: 0px!important;
    padding-right: 10px!important;
}

.loggedin > a {
    padding: 0px!important;
}

.user-head-pic {
    height: 40px;
    border: 2px solid #2497ba;
}

.user-head-pic:hover {
    border: 2px solid skyblue;
}