@font-face {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
}

#app {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #edf3f7 !important;
  font-display: swap !important;
}

.v-card {
  border-radius: 1% !important;
}

.pg-toolbar {
  color: white;
  font-size: 38px !important;
}

.v-btn-navbar {
  color: #336791 !important;
  font-size: 16px !important;
}

.v-tile-navbar {
  color: #336791 !important;
  font-size: 16px !important;
}

.v-btn-navbar:hover {
  border-bottom: 3px solid #336791 !important;
}

a {
  color: #336791 !important;
  text-decoration: none;
  border: none !important;
}

.pg-v-card {
  color: #336791 !important;
  margin: 3% 10% 1% 10% !important;
  padding: 1% !important;
}

.pg-home-card {
  color: #336791 !important;
  margin: 1% 8.7% 1% 8.7%;
  padding: 1%;
}

.pg-v-card-bottom {
  margin: 2% 10% 10% 10%;
  padding: 1%;
}

.pg-v-card-text-main {
  font-size: 25px !important;
  font-weight: bold !important;
  color: #336791 !important;
}

.pg-v-card-text {
  font-size: 20px !important;
}

.pg-v-card-text-small {
  font-size: 20px !important;
  color: #336791 !important; 
}

.pg-v-card-text-footer {
  font-size: 18px;
  color: white;
}

.login-button {
  background-color: #336791 !important;
  font-size: 16px;
  color: white !important;
}

.profile-card {
  color: #336791 !important;
  margin-right: 2.5%;
}

.profile-card-title {
  background-color: white !important;
  margin-right: 2.5% !important;
  margin-top: 0.7% !important;
}

.profile-card-title-postgres {
  background-color: transparent !important;
  margin: 0.8%;
}

.profile-card-title-text {
  color: #336791 !important;
  font-size: 25px !important;
  font-weight: bold !important;
}

.profile-left-top {
  background-color: #336791 !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
  margin: 2% 5% 0% 5% !important;
}

.home-card-left {
  margin: 2% 7% 2% 19% !important;
}

.home-card-right {
  margin: 2% 19% 2% 7% !important;
}

.home-card-left, .home-card-right {
  background-color: white !important;
  border-top: 12px solid #336791 !important;
  border-bottom: 12px solid #336791 !important;
}

.home-card-text {
  color: #336791 !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.run-left-top {
  background-color: #336791 !important;
  margin: 2% 5% 0% 5% !important;
  font-weight: bold !important;
  color: white !important;
}

.run-left-text {
  background-color: #336791 !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.run-left-bottom {
  color: #336791 !important;
  font-size: 18px !important;
  margin: 0% 5% 0% 5%;
  padding: 0% 0% 0% 0%;
}

.run-left-bottom-monospace {
  color: #336791 !important;
  font-size: 15px !important;
  margin: 0% 5% 0% 5% !important;
  font-family: "Lucida Console", Courier, monospace !important;
  padding: 0% 0% 0% 0%;
}

.profile-button {
  color: #336791 !important;
  text-transform: none !important;
  font-size: 18px !important;
}

.profile-left-bottom {
  margin: 0% 5% 2% 5% !important;
}

.profile-left-text {
  color: #336791 !important;
  font-size: 18px !important;
}

.table-title {
  font-size: 20px;
}

td {
  font-size: 18px !important;
  text-align: center !important; 
  min-width: 100px;
}

.profile-th, thead, th {
  font-size: 18px !important;
  color: #336791 !important;
  background-color: #d3e1ed;
  font-weight: bold !important;
}

.status-layout {
  background-color: white !important;
  margin: 2% 10% -2% 10% !important;
  padding: 1%;
  color: #336791;
}

.panel-div {
  color: #336791 !important;
  font-size: 20px !important;
  font-weight: bold;
  padding: 2% !important;
}

.status-content {
  padding: 1% !important;
}

.machine-main-card {
  margin: 1%;
}

.machine-main-title {
  padding: 1%;
  color: #336791;
  font-size: 24px !important;
  font-weight: bold;
}

.machine-main-text {
  color: #336791;
  font-size: 20px !important;
}

.machine-form {
  padding: 2%;
}

.v-slide-group__wrapper, .v-tab {
  background-color: #336791 !important;
  color: white !important;
  padding: 0% 2% 0% 2% !important;
  font-size: 16px !important;
}

.v-tab--active {
  font-weight: bold !important;
}

.machine-card {
  background-color: #336791 !important;
  margin-right: 1.2%;
  margin-top: 0.4% !important;
}

.result-toolbar {
  background-color: #d3e1ed !important;
  color: #336791;
  font-size: 22px !important;
  font-weight: bold !important;
}

.benchmark-toolbar {
  background-color: #d3e1ed !important;
  color: #336791;
  font-size: 20px !important;
}

.results-title {
  color: #336791;
  font-size: 20px !important;
  margin-bottom: -5%;
}

.mounts-center {
  width: 92.5%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.mounts, .mounts-h, .mounts-d, .mounts-center {
  font-size: 18px !important;
  border: 1px solid #336791;
  border-collapse: collapse;
  color: #336791;
}

.mounts-d, .mounts-h {
  padding: 1%;
  min-width: 0.1%;
}

.mounts {
  width: 92.5%;
}

.mounts-h {
  background-color: #d3e1ed;
  font-weight: bold;
}
