.info-list{
    font-size: 18px!important;
}
.clear-list-style {
    list-style-type: none!important;
}
.pre {
    white-space:pre-wrap;
}

/*Simulation style*/
.accordion .title{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 1.28571429em;
    /*margin: calc(2rem - .14285714em) 0 1rem;*/
    font-weight: 700;
    padding: 0;
    font-size: 1.28571429rem;
    color: #4183c4!important;
}

.accordion .title i{
    color: #000!important;
}