#machines__intro {
    width: 80%;
    margin: 50px;
    padding: 20px;
    background-color: #FAFAFA;
}

#machines__intro__title {
    color: #336791;
    font-size: 20px;
    font-weight: bold;
}

#machines__list {
    width: 80%;
    padding: 20px;
    background-color: #FAFAFA;
}

#machines__list__menu {
    margin-bottom: 20px;
}

#machines__list__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
