{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
<div id="navigation">
    <div id="navigation__title">PostgreSQL Performance Farm</div>
    <div id="navigation__links">
        <a class="navigation__links__item" href="{% url 'index' %}"><button>HOME</button></a>
        <a class="navigation__links__item" href="{% url 'machines:index' %}"><button>MACHINES</button></a>
        <a class="navigation__links__item" href="{% url 'benchmarks:index' %}"><button>BENCHMARKS</button></a>
        <a id="navigation__links__login" href=""><button>LOGIN</button></a>
    </div>
</div>