{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
<div id="navigation">
    <div id="navigation__title">PostgreSQL Performance Farm</div>
    <div id="navigation__links">
        <a class="navigation__links__item" href="{% url 'index' %}"><button>HOME</button></a>
        <a class="navigation__links__item" href="{% url 'machines:index' %}"><button>MACHINES</button></a>
        <a class="navigation__links__item" href="{% url 'benchmarks:benchmarks_machines' %}"><button>BENCHMARKS</button></a>
        {% if user.is_authenticated %}
            <a id="navigation__links__login" href="{% url 'machines:usermachine' %}"><button>{{user}}</button></a>
            <a class="navigation__links__item" href="{% url 'users:logout' %}"><button>logout</button></a>
        {% else %}
            <a id="navigation__links__login" href="{% url 'users:community_login' %}"><button>LOGIN</button></a>
        {% endif %}
    </div>
</div>