body {
    margin: 0;
    padding: 0;
    background-color: #EDF3F7;
}

#page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title {
    color: #336791;
    font-size: 25px;
    font-weight: bold;
}

.card {
    width: 80%;
    margin: 30px;
    padding: 20px;
    background-color: #FAFAFA;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.table-outline {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.space-vertical {
    height: 20px;
}
