{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div class="card">
        <div id="page-title">Welcome to the Postgres Performance Farm!</div>
        <div class="space-vertical"></div>
        <div>The Postgres Performance Farm is a project aiming to collect of performance tests through source code updates, highlighting trends and changes.</div>
    </div>
    <div class="home__item">
        <span id="value_machines" class="text-color"></span> machines belonging to <span id="value_users" class="text-color"></span> users
        <br>
        of which <span id="value_last_month" class="text-color"></span> reported in the last month
    </div>

    <div class="home__item">
        <span id="value_branches" class="text-color"></span> reporting branches
        <br>
        from <span id="value_repos" class="text-color"></span> different Postgres repositories
    </div>

    <div class="home__item">
        <span id="value_configs" class="text-color"></span> different PgBench configurations
        <br>
        <span id="value_os" class="text-color"></span> different operating systems
    </div>

    <div class="home__item">
        <span id="value_runs" class="text-color" class="text-color"></span> total runs
        <br>
        <span id="value_benchmarks" class="text-color" class="text-color"></span> total benchmarks
    </div>

    <div class="home__item">
        Last run: <a id="value_last_run"></a> on <span id="value_last_run_time" class="text-color"></span>
        <br>
        Reported by machine <a id="value_last_run_machine"></a>
    </div>

    <div class="home__item">
        Last run <a id="value_last_run_trends">trends</a>
        <br>
        Scale <span id="value_scale" class="text-color"></span>, duration <span id="value_duration" class="text-color"></span>, clients <span id="value_clients" class="text-color"></span>, <span id="value_read_only" class="text-color"></span>
    </div>
{% endblock %}
